<!DOCTYPE html>
<!-- Student Name:   -->
<html lang="en">
  <head>
    <title>ADB Quiz 01</title>
    <meta charset="utf-8"/>
    <style>
      form {text-align: center;}
     
      p {
        font-size: 20px;
        font-weight: bold;
        color: purple;
      }
      h3 {
        font-variant: petite-caps;
        color: darkred;
        font-size: x-large;
      }
      
      input{
        border-radius: 10px;
        padding: 13px;
        color: darkred;
        font-weight: bold;
        font-size: large;
      }
      </style>
  </head>
  <body style="background-color: beige;"> 
    <form> 
      <h2> Name: Dannasri Srinivasan </h2>
      <h2> ID: 1001698730 </h2>
      <h2> Quiz 01 </h2>
      <img style="height: 300px"   src="static/m.jpg" alt="Image Not Found"><br><br>

      <a href="/table"><input type="button" value = "View Entity"/></a>
      <a href="/addEntity"><input type="button" value = "Add Entity"/></a>
      <a href="/updateComment"><input type="button" value = "Update" /></a>
      <a href="/searchAgeRange"><input type="button" value = "Search Age Range"/></a>

      </form>
    
  </body>
</html>
