<!DOCTYPE html>
<!-- Student Name:   -->
<html lang="en">
  <head>
    <title>ADB Assignment 01</title>
    <meta charset="utf-8"/>
    <style>
      form {text-align: center;}
      
      p {
        font-size: 20px;
        font-weight: bold;
        color: purple;
      }
      h3 {
        font-variant: petite-caps;
        color: darkred;
        font-size: x-large;
      }
      
      input{
        border-radius: 10px;
        padding: 13px;
        color: darkred;
        font-weight: bold;
        font-size: large;
      }
      </style>
  </head>
  <body style="background-color: beige;"> 
    <form action= "/update" method = "POST"> 
      <h2> Name: Dannasri Srinivasan </h2>
      <h2> ID: 1001698730 </h2>
      <h2> Quiz 00 </h2>
      <label>
        <h3>Name: </h3> <input type="text" name = "searchName"/>
        <h3>Comments To Update: </h3> <input type="text" name = "comments"/>
      </label>
      <input type="submit" value = "Update"/>
   
      </form>
    
  </body>
</html>
